{% extends 'base.html.twig' %}

{% block body %}
    {% if erreur is not empty %}
        <p style="color: red">{{ erreur }}</p>
    {% endif %}

    <form method="post">
        <label>Email</label>
        <input type="text" name="email"><br>
        <label>Message</label>
        <textarea name="message"></textarea><br>
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
