{% extends 'base.html.twig' %}

{% block body %}
    {#
    On peut afficher l'objet User car sa classe contient
    une méthode __toString
    #}
    <p>Bonjour {{ user }}</p>
    {# appel de la méthode getEmail() de User #}
    <p>Votre email est "{{ user.email }}"</p>
{% endblock %}
